<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="shoppingsite.SearchingNegativetestcase"/>
      <class name="shoppingsite.LoginValidationPositiveTestcase"/>
      <class name="shoppingsite.ProductPage2"/>
      <class name="shoppingsite.Base"/>
      <class name="shoppingsite.BlogPage"/>
      <class name="shoppingsite.LoginAutomation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
